// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.navbar {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  background: orangered;
  border: 1px solid orangered;
  a {
    display: block;
    flex-grow: 1;
    padding: 1rem;
    font-family: sans-serif;
    font-size: 1.2rem;
    text-align: center;
    text-decoration: none;
    color: lightyellow;
    &:hover {
      background: lightyellow;
      color: orangered;
    }
  }
}

